<div class="col s12 m4" id="{{VehicleID}}">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">{{title}}</span>
            <p class="content">
                {{{data}}}
             <p>
        </div>
        <canvas class="chartCanvas" id="{{canvasID}}"></canvas>
    </div>
  <!--  <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
    </div> -->
</div>