
<div class="col s12 m4 l2  blue-grey lighten-4 navCol" id=""> <!-- Note that "m4 l3" was added -->


    <div class="row">
            <div class="col s12">
    <nav>
        <div class="nav-wrapper  blue-grey lighten-3" id="pageTitle">
            <img src="/public/gfx/seeding.svg">
            <span>Telemetry</span>
        </div>
    </nav>
</div> 
</div> 
    <div class="row">
        <div class="col s12">
                <span>Navigation</span>
                <ul class="navList" >
                    <li><a href="/">Home</a></li>
                    <li><a href="/vehicles">Vehicle</a></li>
                    <li><a href="/animals">Animals</a></li>
                    <li><a href="/prices">Prices</a>
                    <ul>
                        <li><a href="/pricesMax">Max Prices</a>
                        <li><a href="/pricesShop">Per Shop</a>
                        <li><a href="/pricesType">Per Type</a>
                    </ul>
                    </li>
                    <li><a href="/silos">Silos</a></li>
                    <li><a href="/json">Raw Json</a></li>
                </ul>  
        </div>

    </div> 
</div>