{{template "header.html" .}}

    <!-- Page Layout here -->
    <div class="row" style="height: 100%">

        {{template "menu.html" .}}
  
        <div class="col s12 m8 l10"> <!-- Note that "m8 l9" was added -->

            <div class="row" id="priceData">
                <div class="col s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Prices</span>
                            <p class="content">
                              asd
                             <p>
                        </div>
                        <canvas class="chartCanvas" id="bigPriceChart"></canvas>
                    </div>
                  <!--  <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div> -->
                </div>
            </div>
  
        </div>
  
      </div>


  <!--  Scripts-->
  <script src="/public/js/prices.js"></script>

  
{{template "footer.html" .}}