{{template "header.html" .}}

    <!-- Page Layout here -->
    <div class="row" style="height: 100%">

        {{template "menu.html" .}}
  
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Prices per Type</span>
                    <p class="content">
                       asdasd
                     <p>
                </div>
                <canvas class="chartCanvas" id="prizeChart"></canvas>
            </div>

        </div>
  
      </div>


  <!--  Scripts-->
  <script src="/public/js/prices.js"></script>

  
{{template "footer.html" .}}